auto_test/init/.table_suffix_cache_file
auto_test/**/__pycache__/
auto_test/items/result.txt
auto_test/result.txt

# 应用包及部署目录
/tapdata/
*.tar.gz

# 其余乱七八糟的内容
.idea/**
*.inited*
result.txt
my_result*
tmp
*.log
*.rdb
node-*.conf
dbs/mysql/my.cnf
binarys/mongod-v6.0.4
.class
metadb.gz
mongod-v6.0.4

metadb/data/
metadb/logs/
*.wt
*.inited
.colima.not.start
.pg.inited
dbs/pg/pgsql
dbs/pg/logfile

dbs/redis/cluster/*.conf

dbs/elasticsearch/7.17.21/data
dbs/elasticsearch/7.17.21/logs

venv
.venv

*.pyc
/build
*.iml

dbs/tidb/tiup.log
dbs/postgresql.auto.conf
dbs/mysql-5/my.cnf
dbs/mysql-5/data/
.DS_Store
dbs/kafka/logs/
dbs/kafka/data/
dbs/kafka/LICENSE
dbs/kafka/NOTICE
dbs/chdb/uuid

auto_test/items/550_debug/
auto_test/items/551_debug2/
auto_test/items/552_debug3/
auto_test/items/553_debug4/
auto_test/items/554_debug5/
auto_test/items/555_debug6/
auto_test/items/556_debug7/
auto_test/items/557_debug8/

taptest.log.no_color
dbs/chdb/users.xml
dbs/chdb/preprocessed_configs/
dbs/chdb/config.xml
dbs/chdb/status
dbs/chdb/store/
dbs/chdb/data/
dbs/chdb/metadata/
.last_failed
.git.bfg-report/
..bfg-report/
auto_test/benchmarksql/run/props.pg_5_1_1
auto_test/benchmarksql/run/props.sql
benchmark/cdc_postgres_logical_replication/
benchmark/mdb_3
dbs/chdb/config-preprocessed.xml
